*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {background-color: rgb(171, 165, 165);}

.boxheader{
  width: 100%;
  height: 100px;
  background-color: rgb(253, 253, 253);
}

#logo { 
  margin-top: 20px;
  margin-left: 20px;
}

#titolo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  
  
}

.container{
  width: 80%;
  margin: 100px auto;
  background-color: rgb(255, 255, 255);
  height: 1600px;
  border-radius: 20px;
}

#tasto1{
  width: 80px;
  margin: 20px 40px;
  background-color: blue;
  color: white;
  position: relative;
  top: 0px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display:inline-block;
}

#tasto2{
  width: 150px;
margin: 20px 40px;
background-color: white;
border-radius: 10px;
display: inline-block;
padding-left: 5px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
border: solid grey;
}
hr{
  color: grey;
}

#adds{
  color: grey;
}

#elenco-intero{
  margin-top: 50px;
  margin-left: 60px;

}

#td , #uc{
  margin-top: 30px;
}
li{
  margin-top: 20px;
}

ul , li {
  list-style: none;

}



.editorial{
  font-size: smaller;
  background-color: blue;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.q1{
  font-size: smaller;
  background-color: blueviolet;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.recruiting{
  font-size: smaller;
  background-color: rgb(15, 160, 78);
  border-radius: 10px;
  color: white;
  padding: 10px;

}

.mobile{
  font-size: smaller;
  background-color: rgb(210, 132, 30);
  border-radius: 10px;
  color: white;
  padding: 10px;

}

.website{
  font-size: smaller;
  background-color: rgb(187, 92, 149);
  border-radius: 10px;
  color: white;
  padding: 10px;

}

.sales{
  font-size: smaller;
  background-color: rgb(115, 164, 51);
  border-radius: 10px;
  color: white;
  padding: 10px;

}

.check{
  color: rgb(39, 223, 39);
  background-color: white;
  border-radius: 50%;
  border: solid; color:  rgb(39, 223, 39);;
}

.cross{
  color: rgb(144, 17, 13);
  background-color: white;
  border-radius: 50%;
  border: solid; color: rgb(144, 17, 13);;
}


